.challengeBoxContainer {
  height: 100%;

  display: flex;
  align-items: center;
  justify-content: center;

  background: var(--white);

  border-radius: 5px;

  box-shadow: 0 0 60px rgba(0, 0, 0, 0.05);

  text-align: center;
}

.challengeBoxNotActive {
  display: flex;
  align-items: center;
  flex-direction: column;

  padding: 0 2rem;
}

.challengeBoxNotActive strong {
  width: 90%;

  display: flex;
  align-items: center;
  flex-direction: column;

  font-size: 1.5rem;
  font-weight: 500;
}

.challengeBoxNotActive strong span {
  font-size: 2rem;
}

.challengeBoxNotActive p {
  max-width: 90%;
  
  display: flex;
  align-items: center;

  margin-top: 2.5rem;

  line-height: 1.4;

  text-align: left;
}

.challengeBoxNotActive img {
  width: 2rem;
  height: 2.625rem;
  
  margin: 0 1.5rem 0 1rem;
}

.challengeBoxActive {
  height: 100%;

  display: flex;
  flex-direction: column;
}

.challengeBoxActive header {
  color: var(--blue);

  font-weight: 600;
  font-size: 1.25rem;

  margin: 1.5rem 2rem;
  padding: 0 2rem 1.5rem;

  border-bottom: 1px solid var(--gray);
}

.challengeBoxActive main {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;

  flex: 1;

  padding: 0 2.5rem;
}

.challengeBoxActive main strong {
  margin: 1.5rem 0 0.5rem;

  font-weight: 600;
  font-size: 2rem;

  color: var(--title);
}

.challengeBoxActive main p {
  line-height: 1.5;
}

.challengeBoxActive footer {
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-template-rows: 5rem;

  margin-top: 2rem;
}

.challengeBoxActive footer button {
  display: flex;
  justify-content: center;
  align-items: center;
  
  flex: 1;

  border: 0;
  border-top: 1px solid var(--gray);

  font-size: 1rem;
  font-weight: 600;

  transition: background-color .2s ease;
}

.challengeBoxActive footer button.challengeFailedButton {
  background: #FFF5F5;

  border-right: 1px solid var(--gray);

  border-radius: 0px 0px 0px 5px;

  color: var(--red);
}

.challengeBoxActive footer button.challengeFailedButton:hover {
  background: var(--red);

  color: var(--white);

  border: 0;
}

.challengeBoxActive footer button.challengeSucceededButton {
  background: #F7FFF5;

  border-left: 1px solid var(--gray);

  border-radius: 0px 0px 5px 0px;

  color: var(--green);
}

.challengeBoxActive footer button.challengeSucceededButton:hover {
  background: var(--green);

  color: var(--white);

  border: 0;
}